{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Store Manager{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'StoreManager/css/base.css'%}" type="text/css">
</head>
<body>
{% block header %}
    {% block h1 %}
    <h1>Titre</h1>
    {% endblock %}
    <header>Bienvenue, {{username}} !
    <form action="{% url "deconnexion" %}">
        <input type="submit" value="Se déconnecter" />
    </form>
    </header>
{% endblock %}

{% block links %}
    <section id="links">
        {% block link_product %}
        <form action="{% url "produit" %}">
            <input type="submit" value="Voir les produits" />
        </form>
        {% endblock %}
        {% if user.is_superuser %}
        {% block link_rayon %}
        <form action="{% url "rayon" %}">
            <input type="submit" value="Voir les rayons" />
        </form>
        {% endblock %}
        {% block link_employe %}
        <form action="{% url "employe" %}">
            <input type="submit" value="Voir les employés" />
        </form>
        {% endblock %}
        {% endif %}
        {% block link_cart %}
        <form action="{% url "panier" %}">
            <input type="submit" value="Voir le panier" />
        </form>
        {% endblock %}
    </section>
{% endblock %}

{% block error %}
    {% if error%}
    <p><strong>Erreur : {{ error_message }}</strong></p>
    {% endif %}
{% endblock %}

{% block message %}
{% endblock %}

<form method="post">
{% csrf_token %}

{% block tab %}
{% endblock %}

{% block button %}
<section id="button">
    <input type="submit" name="add" value="Ajouter une ligne"/>
    <input type="submit" name="modify" value="Modifier les sélections"/>
    <input type="submit" name="delete" value="Supprimer les sélections"/>
    {% block cart %}
    {% endblock %}
</section>
{% endblock %}
</form>

{% block foot %}
{% endblock %}
</body>
</html>