{% extends "StoreManager/base.html" %}

{% block h1 %}
<h1>Panier Piano</h1>
{% endblock %}

{% block link_cart %}
{% endblock %}

{%block tab %}
<section id="content">
    <div style="overflow-x:auto;">
        <table>
            <tr>
                {% for h in header %}
                <th>{{h}}</th>
                {% endfor %}
            </tr>
            {% for d in data %}
            <tr>
                <td><input type="checkbox" name="action_product"
                           value="{{ d.id }}"/>&nbsp;
                </td>
                <td>{{ d.product.name }}</td>
                <td> {{ d.product.price }}</td>
                <td>
                    <div contenteditable><input type="number" name="quantity"
                                                value="{{ d.quantity }}"></div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}

{% block button %}
<section id="button">
    <input type="submit" name="buy" value="Valider la commande"/>
    <input type="submit" name="delete" value="Supprimer les sélections"/>

</section>
{% endblock %}

{% block foot %}
{% if validated %}
    <h2>Commander pour {{price}} &euro;</h2>
    <form action="{% url "charge" formatted_price %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Paiement de la commande"
            data-amount="{{formatted_price}}"
            data-currency="eur"
            data-locale="auto">
        </script>
    </form>
{% endif %}
{% endblock %}