<h1>Se connecter</h1>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
    <p name="welcome_msg">
        Vous êtes connecté, {{ user.username }} !
    </p>

    <p>
        <a href="{% url "produit" %}">
            Voir les produits
        </a>
    </p>
    {% if user.is_superuser %}
    <p>
        <a href="{% url "rayon" %}">
        Gérer les rayons
        </a>
    </p>
    <p>
        <a href="{% url "employe" %}">
        Gérer les employés
        </a>
    </p>
    {% endif %}
    <p>
        <a href="{% url "panier" %}">
            Voir le panier
        </a>
    </p>
{% else %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Se connecter" />
    </form>
{% endif %}