{% extends "StoreManager/base.html" %}

{% block h1 %}
    <h1>Gestion des rayons</h1>
{% endblock %}

{%block link_rayon %}
{% endblock %}

{%block tab %}
<section id="content">
    <div style="overflow-x:auto;">
    <table >
        <tr>
            {% for h in header %}
            <th>{{h}}</th>
            {% endfor %}
        </tr>
        {% for d in data %}
        <tr>
            <td><input type="checkbox" name="action_dep" value="{{ d.0.id }}" />&nbsp;</td>
            <td> <div contenteditable> <input type="text" name="dep_name" value="{{ d.0.name }}"> </div> </td>
            <td> <div contenteditable> <input type="text" name="username" value="{{ d.1.user.username }}"> </div> </td>
        </tr>
        {% endfor %}
    </table>
        </div>
</section>
{% endblock %}