header {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

table,tr,td,th {
  border: 1px solid black;
  border-collapse: collapse;
}

th, tr, td {
  padding: 15px;
}

th {
  text-align: left;
  vertical-align: bottom;
  height: 50px;
  background-color: #4CAF50;
  color: white;

}

table {
  border-spacing: 5px;
  width: 100%;
}

td {
  height: 50px;
  text-align: left;
  vertical-align: bottom;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}

#button {
  margin-top: 0.5cm;
}


